<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RickAndMorty</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <%- include('navbar')%>
    <div class="container">
        <h2>Locations</h2>
        <div class="row row-cols-2 row-cols-md-4 g-4">
            <% locations.forEach(function(location) { %>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title"><%=location.name%></h5>
                            <p class="card-text"><span class="text-primary">Type:</span> <%=location.type%></p>
                            <p class="card-text"><span class="text-primary">Dimension:</span> <%=location.dimension%></p>
                            <a href="/locations/<%=location.id%>/" class="btn btn-primary">Learn More</a>
                            <form action="/addToFaves" method="post">
                                <input type="hidden" name="faveType" value="location">
                                <input type="hidden" name="url" value="/locations/<%=location.id%>">
                                <input type="hidden" name="Name" value="<%=location.name%>">
                                <button class="btn btn-warning my-2" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg></buton>
                            </form>
                        </div>
                    </div>
                </div>
            <% });%>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>